name: Test and build
on: push
env: 
  RUSTFLAGS: "-Dwarnings"
jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - name: Pull repo
      uses: actions/checkout@v4
    - name: Check
      if: ${{ success() }}
      run: cargo check --all-targets --all-features
    - name: Run clippy
      if: ${{ success() }}
      run: cargo clippy --all-targets --all-features
    - name: Run tests
      if: ${{ success() }}
      run: cargo test --all-features
  build-linux:
    runs-on: ubuntu-22.04
    needs: test
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Pull repo
      uses: actions/checkout@v4
    - name: Build
      if: ${{ success() }}
      run: cargo build --release
    - name: Compile data
      if: ${{ success() }}
      run: cargo run --bin=data_compiler data data_dir
    - name: Move build artifacts
      if: ${{ success() }}
      run: |
        mkdir output
        mv target/release/{pso2ship_server,master_ship,data_compiler} output
        mkdir -p data_compiled/quests
        mv data/*.* data_compiled
    - name: Upload bin artifact
      if: ${{ success() }}
      uses: actions/upload-artifact@v4
      with:
        name: x86_64-linux-pso2server
        path: ./output/*
    - name: Upload data artifact
      if: ${{ success() }}
      uses: actions/upload-artifact@v4
      with:
        name: data
        path: ./data_compiled/*
  crossbuild-windows:
    runs-on: ubuntu-22.04
    needs: test
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Pull repo
      uses: actions/checkout@v4
    - name: Install MinGw
      if: ${{ success() }}
      uses: egor-tensin/setup-mingw@v2
      with:
        cc: 0
    - name: Install windows target
      if: ${{ success() }}
      run: rustup target add x86_64-pc-windows-gnu
    - name: Build
      if: ${{ success() }}
      run: cargo build --target x86_64-pc-windows-gnu --release
    - name: Move build artifacts
      if: ${{ success() }}
      run: |
        mkdir output
        mv target/x86_64-pc-windows-gnu/release/{pso2ship_server.exe,master_ship.exe,data_compiler.exe} output
    - name: Upload bin artifact
      if: ${{ success() }}
      uses: actions/upload-artifact@v4
      with:
        name: x86_64-mingw-pso2server
        path: ./output/*
  build-windows:
    runs-on: windows-2022
    needs: test
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Pull repo
      uses: actions/checkout@v4
    - name: Build
      if: ${{ success() }}
      run: cargo build --release
    - name: Move build artifacts
      if: ${{ success() }}
      run: |
        mkdir output
        move target/release/pso2ship_server.exe output
        move target/release/master_ship.exe output
        move target/release/data_compiler.exe output
    - name: Upload bin artifact
      if: ${{ success() }}
      uses: actions/upload-artifact@v4
      with:
        name: x86_64-windows-pso2server
        path: ./output/*
